
<h1>List of Books<h1>
<table class="table table-striped table-hover" style="width:200rm" >

  <thead>
    <tr>
        <th scope="col" class="table-info">id</th>
     <th scope="col" class="table-info">title</th>
      <th scope="col" class="table-info">author</th>
      <th scope="col" class="table-info">action</th>
    </tr>
     </thead>
     {%for book in books%}
  <tbody>
    <tr>
     <td >{{book.id}}</td>
      <td >{{book.title}}</td>
     <td>{{book.author}}</td>
     <td><a href="edit/{{book.id}}" type="button"  class="btn btn-info"> edit </a>
     <a href="delete/{{book.id}}" type="button"  class="btn btn-danger"> delete</a></td>
    </tr>
   </tbody> 
{% endfor %}
<a  href='create' type="button"  class="btn btn-success"> Create a book </a>
